{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order View</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #cd9cf2;
            
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1));
            
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1))
            }
    </style>
</head>
<body>
    <section class="h-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
              <div class="card" style="border-radius: 10px;">
                <div class="card-header px-4 py-5 d-flex justify-content-between">
                  <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #a8729a;">{{users.first_name}}</span>!</h5>
                    <div>
                        <a href="{% url 'userprofile' user.id %}" class="float-right btn btn-warning shadow-0" >Back</a> 
                        <a href="{% url 'downloadinvoice' %}" class="float-right btn btn-warning shadow-0" >Download Invoice</a>    
                    </div>

                </div>
                <div class="card-body p-4">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="lead fw-normal mb-0" style="color: #a8729a;">Your Orders</p>
                  </div>
                  {% for i in order_items %}
                  <div class="card shadow-0 border mb-4">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-2"> 
                          <img src="{{i.product.image.url}}"
                            class="img-fluid" alt="Phone">
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0">{{i.product.name}}</p>
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0 small">{{i.quantity}}</p>
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                          <p class="text-muted mb-0 small">Rs.{{i.order.total_price}}</p>
                        </div>
                        <div class="col-md-2 text-center d-flex justify-content-center align-items-center ">
                          {% if i.payment_option == 'pending' %}
                          <a class="btn btn-danger" href="{% url 'cancel_order' i.id %}">Cancel Order</a>
                          {% elif i.payment_option == 'Cancelled' %}
                          <p style="color: red;">Order has been cancelled.</p>
                          {% elif i.payment_option  == 'Delivered' %}
                          <a class="btn btn-danger" href="{% url 'return_order' i.id %}">Return Order</a>
                          {% elif i.payment_option  == 'returned' %}
                          <p style="color: rgb(48, 10, 236);">Order Returned.</p>
                          {% elif i.payment_option  == 'Rejected' %}
                          <p style="color: rgb(236, 10, 21);">Order has been rejected.</p>

                          {% endif %}
                        </div>
                      </div>
                      <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                      <div class="row d-flex align-items-center">
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>