{%load static%}
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <style>
        .table-container {
            max-height: 380px;
            overflow-y: scroll;
        }
        .bottom-buttons {
            position: sticky;
            bottom: 20px;
            background-color: transparent;
            padding: 5px;
            box-shadow: none;
        }
        .bottom-buttons a.btn {
            color: white;
            border: none;
        }
    </style>
</head>
<body>
    <div class="hero_area">
        <div class="hero_area">
 
          {% include 'inc/adminnavbar.html' %}
       </div>
 
 {% block body %}
 
 
 {% endblock body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 class="text-center mb-4">Orders</h2>
                    <form method="POST" class="mb-4">
                        {%csrf_token%}
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" placeholder="Search by keyword">
                            <button type="submit" class="btn btn-info">Search</button>
                        </div>
                    </form>
                    <div class="table-container">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Username</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                        <tbody>
                            {% for i in orderitem %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{ i.order.user.first_name }}</td>
                                <td>{{ i.product.name }}</td>
                                <td>{{ i.quantity }}</td>
                                <td>{{ i.item_price }}</td>
                                {% if i.payment_option == 'pending' %}
                                <td><button><a class="btn-btn-danger" href="{% url 'order_delivered' i.id %}">Deliver</a></button></td>
                                <td><button><a class="btn-btn-danger" href="{% url 'order_rejected' i.id %}">Reject</a></button></td>
                                {% elif i.payment_option == 'Delivered' %}
                                <td style="color: rgb(48, 10, 236);">Delivered.</td>
                                {% elif i.payment_option == 'Rejected' %}
                                <td style="color: rgb(236, 10, 33);">Rejected.</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        
                    </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>